@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.title {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 8px;
}

.addTask {
  margin-bottom: 8px;
}

.delete {
  margin-left: 0.5em;
  color: #f39800;
  font-weight: bold;
}

.checkbox {
  accent-color: black;
  margin-right: 5px;
}

